* {
    padding: 0;
    margin: 0;
}

#bgImg {
    /* width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
     */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/background1.jpg) no-repeat;
    background-size: cover;
}

body {
    font-family: PingFang-SC-Regular, Helvetica, "Microsoft Yahei", "微软雅黑";
}

#title {
    color: rgb(38, 86, 233);
    font-size: 60px;
    position: fixed;
    left: 70px;
    top: 50px;
    /* width: 124.4px; */
    height: 80px;
    font-weight: 900;
}

.login1 {
    position: absolute;
    right: 139px;
    top: 50%;
    margin-top: -250px;
    width: 450px;
    height: 550px;
    background: #fff;
    background: rgba(255, 255, 255, .8);
    border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    /* display: none; */
}

.login1 .loginType .welcome {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.login1 .userType {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.login1 .userType span {
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    /* cursor: pointer; */
    background: rgba(104, 136, 241, .5);
}

.login1 .form1 {
    margin-top: 50px;
    text-align: center;
}

.login1 .form1 p {
    margin-top: 40px;
}

.login1 .form1 a {}

.login1 .form1 input {
    /* width: ; */
    height: 40px;
    background-color: rgb(240, 235, 235);
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    font-size: 20px;
}

.login1 .form1 .code {
    /* max-height: 40px; */
    width: 80px;
    height: 30px;
    margin-right: 9px;
}

.login1 .form1 #code {
    width: 80px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 9px;
    left: 10px;
}

.login1 .form1 #btn {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    border: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}

.login1 .form1 .register {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}